.vertical-line {
  width: 3px;
  height: 2rem;
  background-color: #333;
  border-radius: 5px;
  margin: 0 auto;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
}

.min-height {
  min-height: 2rem;
}

@keyframes lineAnimation {
  from {
    height: 0rem;
    min-height: 0;
  }

  to {
    height: 2rem;
    min-height: 2rem;
  }
}

.animateLine {
  animation: lineAnimation 0.3s ease-out forwards;
}