@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,800&display=swap');

:root {
    --color-background: #FAFAF8;
    /* Color de fondo general para el neumorfismo */
    --color-shadow-dark: rgba(0, 0, 0, 0.2);
    /* Sombra oscura para el efecto hundido */
    --color-shadow-light: rgba(255, 255, 255, 0.7);
    /* Sombra clara para el efecto elevado */
    --color-text: #333;
    /* Color del texto */
    --color-input-background: var(--color-background);
    /* Fondo del input */
    --border-radius: 11px;
    /* Radio del borde */
}

.word-box input {
    text-align: center !important;
    font-weight: 800;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 35px;
    color: var(--color-text);
    background-color: var(--color-input-background);
    padding: 20px;
    border-radius: var(--border-radius);
    caret-color: #333;
    overflow: hidden;
    text-transform: uppercase;
    border: 2px solid #333; /* Agrega un borde con el color #333 */
}

/* Eliminar estilos no deseados para limpieza */
.word-box input::before,
.MuiFilledInput-underline::after,
.MuiFilledInput-underline::before {
    display: none;
}

.MuiFilledInput {
    text-align: center !important;
}

/* Ajustes adicionales para mantener la consistencia y soportar animaciones */
.word-box div {
    border-radius: var(--border-radius);
}

/* Animaci칩n de temblor (shake) para retroalimentaci칩n */
@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }
}

.shake-animation {
    animation: shake 0.5s ease-in-out;
}

/* Animaci칩n flotante para atractivo visual */
/* @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
} */

.word-box {
    /*animation: float 5s ease-in-out infinite;*/
}

.word-container {
    position: relative;
    display: inline-block;
    /* O cualquier otro display que se ajuste a tu dise침o */
}


