@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,800&display=swap');

.App {
  text-align: center;
  font-family: 'Baloo 2', cursive;
  color: var(--color-text);
}

#root,
.App {
  height: fill-available;
  height: -webkit-fill-available;
  background-color: #FAFAF8;
}

html {
  background-color: #FAFAF8;
}

.background {
  position: absolute;
  background-color: #FAFAF8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}

main {
  position: inherit;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.center-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  /*background-color: #333;*/
  /* From https://css.glass */
  /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: fill-available !important;
  height: -webkit-fill-available !important;
  height: 94dvh !important;
  /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);*/
  z-index: 0;
}

.hidding {
  visibility: hidden;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
  margin-top: 2.5em;
  /*  max-height: 68vh; */
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 4vh;
}

.icon {
  cursor: pointer;
}

.scroll-container::-webkit-scrollbar {
  width: 5px;
  /* Width of the vertical scrollbar */
  height: 5px;
  /* Height of the horizontal scrollbar */
}

/* Handle */
.scroll-container::-webkit-scrollbar-thumb {
  background: #FAFAF8;
  /* Scrollbar color */
  border-radius: 10px;
  /* Rounded corners for the scrollbar */
}

/* Handle on hover */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #FAFAF8;
  /* Scrollbar color on hover */
}

.fadeIn {
  /*animation: fadeInAnimation 0.5s linear;*/
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* 
@keyframes fadeInAnimation {
  from {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
} */

.item {
  transition: all 1s ease;
}

@keyframes grow {
  from {
    height: 0;
    /* Ocupa 0 espacio */
  }

  to {
    height: 100%;
    /* Ocupa su tamaño real */
  }
}

.input-div {
  border-radius: 11px !important;
}

.overflow-hidden {
  overflow: hidden;
  position: relative;
}

.writing-container-animated {
  animation: grow 1s ease-out;
}

@media only screen and (max-width: 900px) {
  .center-container {
    width: 40%;
  }
}

@media only screen and (max-width: 700px) {
  .center-container {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .center-container {
    width: 60%;
    overflow: none;
  }
}

@media only screen and (max-width: 400px) {
  .center-container {
    width: 80%;
    overflow: none;
  }
}

@media only screen and (max-width: 300px) {
  .center-container {
    width: 90%;
    overflow: none;
  }
}

/* Posiciona el spinner al lado del input */
#word-input {
  position: relative;
}

.spinner-container {
  position: absolute;
  bottom: 2%;
  /* Posiciona el spinner en la parte inferior */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.spinner-container {
  transition: opacity 0.2s ease;
  /* Transición suave de 0.5 segundos */
  opacity: 1;
  /* Visible por defecto */
}

.spinner-container.fade-out {
  opacity: 0;
  /* Se desvanece */
  pointer-events: none;
  /* Evita interacciones mientras desaparece */
}